#root {
  height: 300px;
  width: 300px;
  background-color: #F6F8FF;
  color: #22181C;
  font-family: 'Molengo', sans-serif;
	font-size:14px;
}

#home {
  height: 300px;
}

#title {
  font-weight: 700;
  font-size: 30px;
}

#createCard {
  height: 120px;
}

.create-card {
  text-align: center
}

.button {
  height: 38px;
  width: 250px;
	background-color: #3C91E6;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:1px solid rgb(33, 113, 192);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #182170;
}
.button:hover {
  background-color: #26547C;
}
.button:active {
	position:relative;
	top:1px;
}
.button:focus {
  outline:0;
}

.button-container {
  height: 50%;
  padding-top: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 5px;
  justify-items: center;
}

.card {
  background-color: #FFFFFF;
  display: grid;
  height: 90px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text {
  margin: auto;
}

.container {
  display: grid;
  grid-template-rows: 40% 60%;
  grid-row-gap: 5px;
  justify-items: center;
}

.quiz-top {
  display: grid;

  grid-template-rows: 10% 90%;
  grid-row-gap: 5px;
  justify-items: center;
}

.results-container {
  padding-top: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  grid-row-gap: 5px;
  justify-items: center;
  text-align: center;
  font-size: 16px;
}

.results-title {
  text-decoration: underline;
}