.decks-menu {
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 10px;
  justify-items: center;
}

.deck-container {
  /* height: 250px; */
  overflow-y: auto; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.deck {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 90px;
  width: 90px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

.deck-name {
  font-weight: 700;
  text-decoration: underline;
}

.deck-description {
  font-size: 10px;
}