/* .decks-menu {
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 10px;
  justify-items: center;
} */

.deck-menu {
  overflow-y: auto; 
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 5px;
  justify-items: left;
}

.deck-container,
.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.deck-container,
.card-drawer {
  height: auto;
  background-color: #FFFFFF;
  margin: auto;
  text-align: center;
}

.deck-container {
  width: 50%;
}

.deck {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.deck-name {
  font-weight: 700;
  text-decoration: underline;
}

.deck-description {
  font-size: 10px;
}

.card-drawer {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 0.2vw;
  width: 80%;
  height: auto;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.card-container {
  background-color: #CECECE;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}